.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #ff7043;
  color: white;
}

.navbar a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}
