.navbar {
  background: #ff7043;
  padding: 1rem 2rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.navbar h2 {
  color: white;
}

.nav-links {
  display: flex;
  gap: 1.2rem;
}

.nav-links a {
  color: white;
  font-weight: 600;
}

.nav-links a:hover {
  text-decoration: underline;
}
